.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inline-richtext {
  line-height: 47px;
}

.newsletter__wrapper {
  text-align: center;
}

.newsletter__wrapper.view-compact {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter__wrapper.view-compact .field__input {
  min-width: 150px;
}

.newsletter__wrapper.view-compact > * + * {
  margin: 5px;
}

.newsletter__wrapper.view-compact .newsletter-form__field-wrapper {
  display: flex;
}

.newsletter__wrapper.view-compact .newsletter-form__field-wrapper .field {
  margin: 0 5px;
}

.newsletter__wrapper.view-default .field {
  margin-bottom: 10px;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
